.full-calendar {
    
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
    padding: 0 10px;
    font-family: HelveticaNeue-Light,Helvetica,Arial,Verdana,sans-serif;
    
    .alert-info{
        background-color: #ddd;
    }
    
    .fc-event{
        background-color: #dff4ff;
        border: 1px solid #9bbed0;
        height: max-content;
        margin-bottom: 1px;
        
        .emptyEvent {
            background-color: #f5f5f5;
        }
    }
    
    .eventWrapper{
        padding: 4px 6px;
        
        .eventWrapperLeft{
            height: 100%;
            float: left;
            width: 40px;

            .event_starttime{
                margin-bottom: 2px;
            }
            
            .event_starttime,
            .event_endtime {
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                white-space: nowrap;
                color: #FFF;
                padding: 2px 6px 2px 6px;
                font-size: 11px;          
                color: #777777;
                background-color: #cccccc;
            }
        }
        
        .eventWrapperRight{
            margin-left: 45px;
            word-wrap: break-word;
            word-break: break-word;
            
            hr {
                line-height: 0;
                font-size: 0;
                border-bottom: 1px solid #DDD;
                margin: 2px 0px 1px 0;
                height: 0;
            }
            
            .activity{
                padding-top: 2px;
                font-size: 9px;
                color: #777777;
            }
            
            .event-name{
                word-break: break-word;
                font-weight: bold;
            }
            
            .left{
                float: left;
            }
        }
    }
}