/*
 * forms styles
*/

form {
    &.form-horizontal {
        div[class^="col-md"] > .form-group {
            margin-right: 0;
            margin-left: 0;
            //margin-bottom: 0;
        }

        div.required > label {
            border-right: red 2px solid;
        }       
        
        table th.required {
            //color: red;
            
            &:after {
                white-space: pre-wrap;
                content: "  ";
                border-right: red 2px solid;
                /*
                content: " |";
                color: red;
                width: 2px;
                */
            }
        }

        .form-group{
            
            &.required {
                .has-star:not(.custom-control-label){
                    &:after{
                        content: '';
                    }
                }
            }
            margin-bottom: 0;
            .panel-group {
                .panel-title {
                    a {
                        color: @link-color;
                        width: 100%;

                        &:hover {
                            color: @link-hover-color;
                            text-decoration: none;
                        }
                    }
                }
            }

        }
    
        div.static-input,
        div.static-input + div.static-input{
            margin-bottom: 10px;
        }
        
        div.kv-password {
            div.input-group {
                width: 100%;
            }
        }
    }

    &.form-vertical {
        div.required > label {
            border-left: red 2px solid;
        }         
    }    
    
    .s2-input-group .input-group-btn > .btn {
        position: relative;
    }

    .field-group-title {
        font-size: @font-size-large;
        text-align: center;
    }

    .range-field {
        .form-control:first-child {
            & > div[class^="col-md"] {
                padding-left: 0;
            }
        }
        .form-control:last-child {
            & > div[class^="col-md"] {
                padding-right: 0;
            }        
        }        
    }    

    .gmap-container {
        .gmap-control {
            padding: 0;
        }
    }

    .panel-container {
        padding-top: 10px;
    }    

    .line {
        width: 100%;
        height: 2px;
        margin: 10px 0;
        overflow: hidden;
        font-size: 0;
    }
    
    .line-dashed {
        background-color: transparent;
        border-bottom: 1px dashed @breadcrumb-bg !important;
    }
    
    .padding-v-md {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .double-line-top {
        border-top: @padding-small-vertical double @breadcrumb-bg;
        padding-top: @padding-small-vertical;
    }

    .double-line-bottom {
        border-bottom: @padding-small-vertical double @breadcrumb-bg;
        padding-bottom: @padding-small-vertical;
    }

    .double-line-left {
        border-left: @padding-small-vertical double @breadcrumb-bg;
        padding-left: @padding-small-vertical;
    }

    .double-line-right {
        border-right: @padding-small-vertical double @breadcrumb-bg;
        padding-right: @padding-small-vertical;
    }

    .hint-block {
        font-style: italic; 
        font-size: 0.85em; 
        color: @input-color-placeholder;
        //text-align: right;
    }

    .clearfix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        font-size: 0;
    }

    .input-group-control-width-90,
    .input-control-width-90 {
        min-width: 90px;
    }

    .fsm-label {
        font-weight: bold; 
        padding-top: 3px;
    }
    
    .text-center {
        text-align: center;
    }
    
    .modal-button-group {
        padding-top: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    
    .btn-submit,
    .btn-cancel {
        .bootstrap-dialog-button-icon {
            margin-right: 3px;
            top: 2px;
        }
    }
    
    .field-bill-total,
    .field-expense-summa,
    .field-billpayment-summa,
    .field-agreementpayment-summa{
        .select2 {
            .select2-selection {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}