@import "variables.less";
/*
 * menus styles
*/

nav {

    a.gravatar {
        padding-top: 10px;
        padding-bottom: 10px;        
    }

    ul.navbar-nav {
        .gravatar img {
            border: 1px solid @navbar-default-link-color;
        }
        
        & > li.dropdown:hover {
            & > ul.dropdown-menu { 
                display: block; 
            }
        }
        
        li.dropdown-submenu:hover {
            & > ul.dropdown-menu { 
                display: block; 
            }
        }
        
        #language-selection {
            padding-top: 13px;
            padding-bottom: 13px;
            border: 0;
            background: none;
        }
        
        #language-selection-menu {
            width: 44px;
            min-width: 44px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background: rgba(255, 255, 255, 0.15);
            
            a {
                padding: 0 9px;
                
                &:hover {
                    background-color: #f7f7f7;
                }
            }
        }
    }

    &.navbar-inverse {
        ul.navbar-nav {
            .gravatar img {
                border: 1px solid @navbar-inverse-link-color;
            }
        }        
    }

}

ul {
    &.dropdown-menu {
        
        & > li.a-button {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            cursor: pointer;
            
            &:hover, &:focus {
                color: #262626;
                text-decoration: none;
                background-color: #f5f5f5;
            }            
        }
        
        a.disabled {
            pointer-events: none;
            cursor: not-allowed;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
            opacity: .65;
        }
    }
}

#client-navbar {
    &.panel-default {
        & > .client-status-active {
            background: @client-status-active;
        }            
        & > .client-status-potential {
            background: @client-status-potential;
        }
        & > .client-status-archived {
            background: @client-status-archived;
        }
        & > .client-status-deleted {
            background: @client-status-deleted;
        }
    }
}
