@import "../../../vendor/bower-asset/bootstrap/less/variables.less";

/*
 * pages styles
*/

#frontend-body {

}

#backend-body {

}

.modal {
    #modalHeader {

        &.type-primary {
            background-color: #337ab7;
        }
        color: white;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        cursor: move;

        #close-button {
            font-size: 40px;
        }
    }

    .modal-size-xl {
        .modal-lg {

        }
    }
}

@media (min-width: @screen-lg) {
    .modal {
        &.modal-size-xl {
            .modal-lg {
                width: 1000px;
            }
        }
    }
}

@media (min-width: @screen-extra-lg) {
    .modal {
        &.modal-size-xl {
            .modal-lg {
                width: 1200px;
            }
        }
    }
}

@media (min-width: @screen-hd) {
    .modal {
        &.modal-size-xl {
            .modal-lg {
                width: 1400px;
            }
        }
    }
}
