/*
 * tables styles
*/

// Core variables
@import "variables.less";

@media (max-width: @screen-hd) {
    table{
        font-size: 11px;
        
        & .form-control,
        & .select2-container--krajee .select2-selection {
            font-size: 11px;
        }
    };
}
@media (max-width: @screen-extra-lg) {
    table{
        font-size: 10px;
        
        & .form-control,
        & .select2-container--krajee .select2-selection {
            font-size: 10px;
        }
    };
}

@media (max-width: @screen-lg) {
    table{
        font-size: 9px;
        
        & .form-control,
        & .select2-container--krajee .select2-selection {
            font-size: 9px;
        }
    };
}

.column-widths(){
    &.td-mw-50 {
        min-width: 50px;
    }    
    &.td-mw-75 {
        min-width: 75px;
    }    
    &.td-mw-100 {
        min-width: 100px;
    }    
    &.td-mw-125 {
        min-width: 125px;
    }  
    &.td-mw-150 {
        min-width: 150px;
    }    
    &.td-mw-175 {
        min-width: 175px;
    }        
    &.td-mw-200 {
        min-width: 200px;
    }
}

table {

    &.margin-b-none {
        margin-bottom: 0 !important;
    }
    
    thead {
        #grid-view-filters {
            .select2-container {
                max-width: 250px;
            }
        }
    }

    td {
        .btn {
            //margin-top: 2px;
        }
        
        div.dropdown {
            ul.dropdown-menu {
                & > li.dropdown-submenu:hover {
                    & > ul.dropdown-menu { 
                        display: block; 
                    }
                }            
            }
        }
    }
    
    td.vcenter {
        vertical-align: middle !important;
    }
    
    &.kv-grid-table {

        tr {
            &.bill-row-blocked {
                background: @bill-row-blocked;
            }
            &.bill-row-convention {
                background: @bill-row-convention;
            }
            &.client-status-archived {
                background: @client-status-archived;
            }
            &.client-status-active {
                background: @client-status-active;
            }
            &.client-status-potential {
                background: @client-status-potential;
            }
            &.client-status-deleted {
                background: @client-status-deleted;
            }
        }

        th {
            .column-widths;
        }

        td {
            .column-widths;
            
            &.bill-row-blocked {
                background: @bill-row-blocked;
            }
            &.bill-row-convention {
                background: @bill-row-convention;
            }
            &.client-status-archived {
                background: @client-status-archived;
            }
            &.client-status-active {
                background: @client-status-active;
            }
            &.client-status-potential {
                background: @client-status-potential;
            }
            &.client-status-deleted {
                background: @client-status-deleted;
            }            
        }


        tfoot {
            td {
                font-weight: bold;
            }
        }
        
        .agreement-conclusion-oral,
        .agreement-conclusion-oral:nth-of-type(odd) {
            background-color: #fea;
            &:hover {
                background-color: #fde893;
            }
        }
    }
    
    &.kv-table-float {
        border-top: 1px rgb(221, 221, 221) solid;
    }
    
    .dynamicform_wrapper & {
        & > tbody > tr > td {
            vertical-align: middle;
        }
    }
    
}