a.fsm-delete-action {
  cursor: wait;
}
a.fsm-multi-action-process {
  cursor: wait;
}
span.img-loader.fsm-delete-action {
  background-image: url('../images/loading-plugin.gif');
  background-position: right center;
  background-repeat: no-repeat;
}
span.img-loader {
  background-image: url('../images/loading-plugin.gif');
  background-position: right center;
  background-repeat: no-repeat;
}
