#bill-index {
    
    //overflow: hidden;
    
    .search-toggle-box {
        float: left;
        margin-right: 10px;
        background: #F5F5F5;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 32px;
        height: 32px;

        .toggle-button {
            cursor: pointer;
            display: inline-block;
            font-size: 15px;
            padding: 8px 8px 8px 9px;
            color: rgba(0,0,0,.3);
        }

    }

    .bill-search {
        padding-bottom: 10px;
        //margin-bottom: 20px;
        //border-bottom: 1px solid #eee;
        
        .select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
            width: 100% !important; 
        }
    }
    
    .total-selected {
        display: inline-block;
        padding-left: 20px;
        
        #total-selected-sum {
            font-weight: bold;
            font-size: 1.5em;
        }
    }
}